/*
 * #################################################################################
 * ############################# DECLARATIONS GLOBALES #############################
 * #################################################################################
 *
 * Valables sur toute la page : body, liens, etc...
*/

body {
	font-family: Arial,serif;
	color: white;
	background-image: url('images/background.jpg');
	background-attachment: fixed;
}

h5 {
	margin-bottom:5px;
}

hr {
	background-color:white;
	border:white;
}

a {
	color: white;
}
a img{
	border: 0;
}

/* Ici un lien en style "bouton de formulaire" */
a.bouton {
  	text-decoration: none;
  	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
  
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-top: 2px solid gray;
	border-left: 2px solid gray;
	
	color : black;
	font-weight : bold;
	background-color : #FAFAFA;
	padding:4px;
}



.date {
	font-weight: bold;
      	font-style: italic;
}

.cadre_image {
	text-align: center;
	margin: 40px;
}


/* Style des miniatures utilisées pour l'affichage des images */

.miniature {
	border: 2px solid white;
}

.miniature:hover {
	border: 2px solid #FFCC00;
}


/* Style des tableaux */

table {
  border: none;
  border-collapse: collapse;
}

table, table td {
  border : 1px solid white;
}

tr {
  text-align : center;
}

thead {
  font-weight:bold;
}



/*
 * #################################################################################
 * ############################# STRUCTURE DE LA PAGE ##############################
 * #################################################################################
*/


#gauche {
  	float:left;
	width:150px;
	margin-top:10px;
}

.centre {
	background-color:black;
	
	margin-top:10px;
	margin-left:165px;
	margin-right:15px;
	
	padding:10px;
	border: 1px solid #5F5E5E;
	text-align:justify;
}


#footer
{
	background-color:black;
	padding:5px;
	border: 1px solid #5F5E5E;
	
  	margin-top:10px;
	margin-left:165px;
	margin-right:15px;
  
	text-align:center;
	font-size:0.7em;
}


/*
 * #################################################################################
 * ############################ STYLE DES BLOCS DE MENU ############################
 * #################################################################################
*/

.structure_cadre
{
	width:100%;
	margin-bottom:10px;
	
	background-image: url('images/cadres/milieu.gif');
	
	text-align:center;
	font-size: 0.9em;
}

/* L'image en haut du bloc */
.cadre_top
{
	background-image: url('images/cadres/haut.jpg');
	font-size: 0.9em;
	height: 25px;
	padding-top: 5px;
}

/* Tout le centre du bloc */
.cadre_mid
{
	padding: 0px 14px 0px 19px;
}

.cadre_mid a
{
	text-decoration: none;
}
.cadre_mid a:hover
{
	color: #76C576;
	text-decoration: none;
}


/* L'image en bas du bloc */
.cadre_bot
{
	background-image: url('images/cadres/bas.gif');
	height: 30px;
}
